<!doctype html>
<html ⚡4email>
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <style amp4email-boilerplate>body{visibility:hidden}</style>

    <style amp-custom>
      /* INSERT CUSTOM CSS */
    </style>
  </head>

  <body>
    <amp-list src="https://<%= host %>/serve?device_type=email&identifier=<%= account_identifier %>&client_key=null&device_data=null"
              width="2"
              height="3"
              layout="responsive"
              items="survey"
              single-item="survey">

      <div fallback>
        <h2>Survey failure fallback</h2>
        <p>
          Something to show when we cannot provide a survey. You should replace this with something more appropriate.

          <h4>Possible Reasons for Failure:</h4>

          <ul>
            <li>no account identifier provided</li>
            <li>provided account identifier not found in our system</li>
            <li>no eligible surveys found</li>
            <li>survey with specified survey_id not found</li>
            <li>internal error</li>
          </ul>
        </p>
      </div>

      <template type="amp-mustache">
        {{#invitation}}
          <div id="invitation_container">
            {{#button_present}}
              <h2>{{label_text}}</h2>
              <button on="tap:invitation_container.hide,question_container_{{first_question_id}}.show">{{button_text}}</button>
            {{/button_present}}
            {{^button_present}}
              <h2 role="button" tabindex="-1" on="tap:invitation_container.hide,question_container_{{first_question_id}}.show">{{label_text}}</h2>
            {{/button_present}}
          </div>
        {{/invitation}}

        {{^invitation}}
          {{#first_question_and_possible_answers}}
            <form id="survey_response_form_{{question_id}}" method="get" action-xhr="https://<%= host %>/submissions/email_answer">
              <input type="hidden" name="identifier" value="<%= account_identifier %>">
              <input type="hidden" name="submission_udid" value={{submission_udid}}>
              <input type="hidden" name="question_id" value={{question_id}}>
              <input type="hidden" name="udid" value={{device_udid}}>
              <input type="hidden" name="client_key" value="null">
              <input type="hidden" name="custom_data" value="null">

              <div id="question_container_{{question_id}}">
                <h3>Question: {{content}}</h3>

                {{#possible_answers}}
                  {{#image_url}}
                    {{#next_question_id}}
                      <amp-img
                        src={{image_url}}
                        alt=""
                        width="100"
                        height="100"
                        layout="fixed"
                        role="button"
                        tabindex="-1"
                        on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}"
                        >
                      </amp-img>
                      <br>
                      <br>
                    {{/next_question_id}}
                    {{^next_question_id}}
                      <amp-img
                        src={{image_url}}
                        alt=""
                        width="100"
                        height="100"
                        layout="fixed"
                        role="button"
                        tabindex="-1"
                        on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}"
                        >
                      </amp-img>
                      <br>
                      <br>
                    {{/next_question_id}}
                  {{/image_url}}

                  {{#is_free_text_question}}
                    <input type="text" name="text_answer" placeholder={{placeholder}} maxlength={{max_length}}>
                    {{#next_question_id}}
                      <button on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show">{{question_button_label}}</button>
                    {{/next_question_id}}
                    {{^next_question_id}}
                      <button on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show">{{question_button_label}}</button>
                    {{/next_question_id}}
                  {{/is_free_text_question}}

                  {{^is_free_text_question}}
                    <input type="hidden" name="text_answer" value="">
                    {{#next_question_id}}
                      <input type="radio" name="question_{{question_id}}_possible_answer_id" value={{possible_answer_id}} on="change:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}" >
                    {{/next_question_id}}
                    {{^next_question_id}}
                      <input type="radio" name="question_{{question_id}}_possible_answer_id" value={{possible_answer_id}} on="change:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}" >
                    {{/next_question_id}}
                    <label for="question_{{question_id}}_possible_answer_{{possible_answer_id}}">{{content}}</label>
                  {{/is_free_text_question}}
                {{/possible_answers}}
              </div>
            </form>
          {{/first_question_and_possible_answers}}
        {{/invitation}}

        {{#questions_and_possible_answers}}
          <form id="survey_response_form_{{question_id}}" method="get" action-xhr="https://<%= host %>/submissions/email_answer">
            <input type="hidden" name="identifier" value="<%= account_identifier %>">
            <input type="hidden" name="submission_udid" value={{submission_udid}}>
            <input type="hidden" name="question_id" value={{question_id}}>
            <input type="hidden" name="udid" value={{device_udid}}>
            <input type="hidden" name="client_key" value="null">
            <input type="hidden" name="custom_data" value="null">

            <div id="question_container_{{question_id}}" hidden>
              <h3>Question: {{content}}</h3>

              {{#possible_answers}}
                {{#image_url}}
                  {{#next_question_id}}
                    <amp-img
                      src={{image_url}}
                      alt=""
                      width="100"
                      height="100"
                      layout="fixed"
                      role="button"
                      tabindex="-1"
                      on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}"
                      >
                    </amp-img>
                    <br>
                    <br>
                  {{/next_question_id}}
                  {{^next_question_id}}
                    <amp-img
                      src={{image_url}}
                      alt=""
                      width="100"
                      height="100"
                      layout="fixed"
                      role="button"
                      tabindex="-1"
                      on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}"
                      >
                    </amp-img>
                    <br>
                    <br>
                  {{/next_question_id}}
                {{/image_url}}

                {{#is_free_text_question}}
                  <input type="text" name="text_answer" placeholder={{hint_text}} maxlength={{max_length}}>
                  {{#next_question_id}}
                    <button on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show">{{question_button_label}}</button>
                  {{/next_question_id}}
                  {{^next_question_id}}
                    <button on="tap:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show">{{question_button_label}}</button>
                  {{/next_question_id}}
                {{/is_free_text_question}}

                {{^is_free_text_question}}
                  <input type="hidden" name="text_answer" value="">
                  {{#next_question_id}}
                    <input type="radio" name="question_{{question_id}}_possible_answer_id" value={{possible_answer_id}} on="change:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,question_container_{{next_question_id}}.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}" >
                  {{/next_question_id}}
                  {{^next_question_id}}
                    <input type="radio" name="question_{{question_id}}_possible_answer_id" value={{possible_answer_id}} on="change:survey_response_form_{{question_id}}.submit,question_container_{{question_id}}.hide,thank_you_message_container.show" id="question_{{question_id}}_possible_answer_{{possible_answer_id}}" >
                  {{/next_question_id}}
                  <label for="question_{{question_id}}_possible_answer_{{possible_answer_id}}">{{content}}</label>
                {{/is_free_text_question}}
              {{/possible_answers}}
            </div>
          </form>
        {{/questions_and_possible_answers}}

        {{#thank_you_message}}
          <div id="thank_you_message_container" hidden>
            <h2>{{thank_you_message}}</h2>
          </div>
        {{/thank_you_message}}
      </template>
    </amp-list>
  </body>
</html>
