- if @account.present?
  .panel.panel-default
    .panel-heading
      %h4.panel-title Data &amp; Integrations
    .panel-body
      = simple_form_for @account, url: data_integrations_my_account_path, html: { role: 'form', class: 'form-horizontal' } do |form|
        = form.input :custom_data_enabled, label: 'Impression Callback Enabled'
        = form.input :custom_data_snippet, label: 'Impression Callback Code', hint: custom_data_snippet_hint, hint_html: { class: 'code-field-hint'}, input_html: { class: "code-snippet" }
        = form.input :onview_callback_enabled, label: 'Viewed Impression Callback Enabled'
        = form.input :onview_callback_code, label: 'Viewed Impression Callback Code', hint: onview_callback_hint, hint_html: { class: 'code-field-hint pre-scrollable'}, input_html: { class: "code-snippet" }
        = form.input :onanswer_callback_enabled, label: 'Onanswer Callback Enabled'
        = form.input :onanswer_callback_code, label: 'Onanswer Callback Code', hint: onanswer_callback_hint, hint_html: { class: 'code-field-hint pre-scrollable'}, input_html: { class: "code-snippet" }
        = form.input :onclose_callback_enabled, label: 'Onclose Callback Enabled'
        = form.input :onclose_callback_code, label: 'Onclose Callback Code', hint: onclose_callback_hint, hint_html: { class: 'code-field-hint pre-scrollable'}, input_html: { class: "code-snippet" }
        = form.input :oncomplete_callback_enabled, label: 'Oncomplete Callback Enabled'
        = form.input :oncomplete_callback_code, label: 'Oncomplete Callback Code', hint: callback_code_hint, hint_html: { class: 'code-field-hint pre-scrollable'}, input_html: { class: "code-snippet" }
        - if @account.custom_content_link_click_enabled?
          = form.input :onclick_callback_enabled, label: 'Onclick Callback Enabled'
          = form.input :onclick_callback_code, label: 'Onclick Callback Code', hint: onclick_callback_hint, hint_html: { class: 'code-field-hint pre-scrollable'}, input_html: { class: "code-snippet" }

        .form-action
          = form.submit 'Save', class: 'btn btn-default'
- else
  %h1.alert.alert-warning You don't have any account, please link one account first!

- if current_user.admin? && @audits.present?
  - filter_fields = { "Account" => audit_data_integration_columns }
  = render "application/audits", audits: @audits, filter_fields: filter_fields
