= react_component("ReactHeader", {title: "Your Code Snippet"})

.snippet-controls-container
  = link_to "Web", "javascript:void(0);", id: "web_toggle", class: "selected"
  = link_to "Dynamic Email", "javascript:void(0);", id: "dynamic_email_toggle"

.web-code-snippet-container
  %p Place this on every page of your site or deploy through your Tag Management System (Version: #{ current_user.account.tag_js_version })

  %pre
    %code
      = current_user.account.tag_code

.dynamic-email-template-container
  %p Surveys are chosen at random based on their current status and targeting criteria. To force the return of a particular survey, add the following #{ html_escape '<input>' } tag inside the #{ html_escape '<form>' } tag above, substituting <i>YOUR_SURVEY_ID</i> with the ID of the survey you wish to provide.

  %pre
    %code
      = html_escape '<input type="hidden" name="survey_id" value="YOUR_SURVEY_ID">'

  %p Embedded styles can be added to the #{ html_escape '<style amp-custom>' } tag. The survey will not return themes nor survey-specific styles.

  %p The #{ html_escape '<div fallback>' } should be filled in to provide an appropriate message (or empty space) in the event that we cannot serve a survey.

  %p Survey container layout can also be changed with AMP layouts. The default is "responsive" with a 2:3 aspect ratio. Please see the #{ link_to "AMP for Email documentation", "https://amp.dev/documentation/guides-and-tutorials/learn/amp-html-layout/layouts_demonstrated/?format=email#responsive" } for more details.

  %p A client_key can be specified by the three <i>null</i> #{ html_escape 'client_key' } values with your desired client_key. The client_key will be used to tie the email survey respondent's device to a device in our system.

  %p device_data can be specified by filling in the <i>null</i> #{ html_escape 'device_data' } argument. Device data will be stored in association with the user's device and can be used for enhanced targeting. device_data should be URI-encoded JSON.
  %pre
    %code
      For example, { "market": "US", "region": "PNW" } should be encoded as: %7B%22market%22:%22US%22,%22region%22:%22PNW%22%7D

  %p Custom survey response data can be specified by filling in the two <i>null</i> #{ html_escape 'custom_data' } values with your desired custom data. custom_data should be URI-encoded JSON.
  %pre
    %code
      For example, { "campaign": "finals_2020", "region": "Eastern" } should be encoded as: %7B%22campaign%22:%22finals_2020%22,%22region%22:%22Eastern%22%7D

  %pre
    = print_dynamic_email_template

= javascript_include_tag 'surveys'
