%h1 Global Targeting

.panel.panel-default
  .panel-heading
    %h4.panel-title User-level Frequency Capping
  .panel-body
    = simple_form_for @user, url: update_frequency_capping_my_account_path, method: :post,
      html: { role: 'form', class: 'form-horizontal', id: 'frequency-cap-form' } do |form|
      .frequency-cap-inputs
        .frequency-cap-label
          Enable
        = form.input :frequency_cap_enabled, as: :boolean, label: false

        .frequency-cap-data
          = form.input_field :frequency_cap_limit, as: :integer, min: 0
          .frequency-cap-hint
            maximum impressions per
          = form.input_field :frequency_cap_duration, as: :integer, min: 0
          = form.input_field :frequency_cap_type, collection: ['minutes', 'hours', 'days']

      .form-action
        = form.submit 'Update frequency capping', class: 'btn btn-default', id: 'frequency-cap-submit'

.panel.panel-default
  .panel-heading
    %h4.panel-title IP suppression
  .panel-body
    = simple_form_for @account, url: update_global_targeting_my_account_path, method: :patch, html: { role: 'form', class: 'form-horizontal' } do |form|
      .css-top-label Add IPs to block on your account. One IP per line.
      = form.input :ips_to_block, as: :text, placeholder: 'IPs here, please', label: 'IPs to block', input_html: { class: 'ips-to-block' }
      .form-action
        = form.submit 'Update targeting', class: 'btn btn-default'

.panel.panel-default
  .panel-heading
    %h4.panel-title Redirect Domain Whitelist
  .panel-body
    = simple_form_for @account, url: update_global_targeting_my_account_path, method: :patch, html: { role: 'form', class: 'form-horizontal' } do |form|
      .css-top-label Include allowed domains in the 'redirect' parameter for Direct Submission.
      = form.input :domains_to_allow_for_redirection, as: :text, placeholder: "Example:\npulseinsights.com\nsurvey-pulseinsights.com",
       label: 'Whitelist', input_html: { class: 'domains-to-allow-for-redirection', value: @account.domains_to_allow_for_redirection.join("\n") }
      .form-action
        = form.submit 'Update', class: 'btn btn-default'

.panel.panel-default
  .panel-heading
    %h4.panel-title AI analysis
  .panel-body
    = simple_form_for @user, url: update_ai_summaries_enabled_my_account_path, method: :patch,
      html: { role: 'form', class: 'form-horizontal', id: 'ai_summaries_form' } do |form|
      .ai-summaries-inputs
        .frequency-cap-label
          Enable
        = form.input :ai_summaries_enabled, as: :boolean, label: false

      .form-action
        = form.submit 'Update', class: 'btn btn-default', id: 'ai_summaries_submit'

- if current_user.admin? && @audits.present?
  = render "application/audits", audits: @audits, filter_fields: { "Account" => ['frequency_cap_enabled', 'frequency_cap_limit', 'frequency_cap_duration', 'frequency_cap_type', 'ips_to_block'] }
