!!!
%html{class: 'full-height'}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= @title.presence || yield(:title).to_s.presence || 'Pulse Insights'
    = stylesheet_link_tag 'custom_card' if on_custom_card?
    = stylesheet_link_tag 'control', media: 'all'#, 'data-turbolinks-track' => true
    = stylesheet_pack_tag 'control'
    = stylesheet_link_tag 'control', 'control/survey_edit' if on_editor?
    = stylesheet_link_tag 'admin', media: 'all' # TODO: Make a dedicated admin layout
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags
    = render 'layouts/rollbar'
    - if Rails.env.production?
      = render 'layouts/data_layer'
      = javascript_include_tag 'google_tag_manager'
  %body{class: @css_scope.presence || yield(:css_scope).to_s.presence || "#{controller_name}-controller"}
    = render 'layouts/body_gtm'
    = render 'navbar'

    .working-overlay.hidden
      = image_tag 'overlay_logo.png'
      %h3 Working...

    #content{class: "container #{ yield(:content_container_class) }"}
      - if flash.now[:notice]
        .alert.alert-notice.alert-dismissable
          = button_tag '×', class: 'close', data: { dismiss: 'alert' }, 'aria-hidden' => true
          = flash.now[:notice]
      - if flash.now[:alert]
        .alert.alert-warning.alert-dismissable
          = button_tag '×', class: 'close', data: { dismiss: 'alert' }, 'aria-hidden' => true
          = flash.now[:alert]
      = yield

    = javascript_include_tag 'control'
    = javascript_pack_tag 'control'
    = javascript_include_tag 'question_formatting' if on_localization_editor?
    - if on_reporting? || on_localization_report? || on_qrvey?
      = stylesheet_link_tag 'reporting'

    = content_for :js
