.list-header
  %h1.list-title Answers

%div
  Toggle column:
  %a.toggle-vis{'data-column': '0'} Date
  \-
  %a.toggle-vis{'data-column': '1'} Time
  \-
  %a.toggle-vis{'data-column': '2'} Question
  \-
  %a.toggle-vis{'data-column': '3'} Response
  \-
  %a.toggle-vis{'data-column': '4'} Question ID
  \-
  %a.toggle-vis{'data-column': '5'} Response ID
  \-
  %a.toggle-vis{'data-column': '6'} Next Question ID
  \-
  %a.toggle-vis{'data-column': '7'} Survey ID
  \-
  %a.toggle-vis{'data-column': '8'} Pageview Count
  \-
  %a.toggle-vis{'data-column': '9'} Visit Count
  \-
  %a.toggle-vis{'data-column': '10'} IP Address
  \-
  %a.toggle-vis{'data-column': '11'} Device Type
  \-
  %a.toggle-vis{'data-column': '12'} Device UDID
  \-
  %a.toggle-vis{'data-column': '13'} Client Key
  \-
  %a.toggle-vis{'data-column': '14'} Completion URL
  \-
  %a.toggle-vis{'data-column': '15'} Context Data
  \-
  %a.toggle-vis{'data-column': '16'} User Agent

#datepicker.input-daterange.datatable
  = text_field_tag :from, nil, placeholder: 'start', id: 'from', value: @start_date
  %span.add-on to
  = text_field_tag :to, nil, placeholder: 'end', id: 'to', value: @end_date

%table.table.table-hover.table-responsive.list-table.answers-list
  %thead
    %tr
      %th= 'Date'
      %th= 'Time'
      %th= 'Question'
      %th= 'Response'
      %th= 'Question ID'
      %th= 'Response ID'
      %th= 'Next Question ID'
      %th= 'Survey ID'
      %th= 'Pageview Count'
      %th= 'Visit Count'
      %th= 'IP Address'
      %th= 'Device Type'
      %th= 'Device UDID'
      %th= 'Client Key'
      %th= 'Completion URL'
      %th= 'Custom Data'
      %th= 'User Agent'
  %tfoot
    %tr
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th= 'Question ID'
      %th= 'Response ID'
      %th= 'Next Question ID'
      %th=' Survey ID'
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th.empty
      %th.empty
  %tbody
