%h1.mfa-settings-title Multi-Factor Authentication

.mfa-settings-container
  .panel.panel-default
    .panel-heading
      %h2.panel-title 1. Scan QR Code

    .mfa-settings-panel-content
      %p.mfa-instructions Please scan the QR code below using an authenticator app.

      %hr

      .qr-code-container
        = qr_code_as_svg(current_user.multi_factor_qr_code_uri)

  .panel.panel-default.mfa-settings-panel
    .panel-heading
      %h2.panel-title 2. Confirm One-time Code

    .mfa-settings-panel-content
      %p.mfa-instructions Enter your Pulse Insights password and the provided one-time code to confirm and enable multi-factor authentication.

      = form_with url: mfa_settings_path, method: :post do |form|
        .input-row
          = form.label :password, "Password"
          = form.password_field :password, required: true

        .input-row
          = form.label :code, "Code"
          = form.text_field :code, required: true

        = form.submit "Confirm and Enable Multi-factor Authentication", class: "pi-primary-button"
