bundle-audit has detected one or more vulnerabilities (#{@results.count} total)

= link_to "Make an issue for it", "https://gitlab.ekohe.com/ekohe/pulseinsights/pi/-/issues/new?issue[title]=Address%20gem%20vulnerabilities%20#{Time.current.strftime("%Y-%m-%d")}"

%table
  %thead
    %tr
      %th
        Title
      %th
        URL
      %th
        Description
      %th
        Gem Name
      %th
        Our Gem Version
      %th
        Patched Version(s)
  %tbody
    - @results.each do |result|
      %tr
        %td
          = result.title
        %td
          = result.url
        %td
          = result.description
        %td
          = result.gem_name
        %td
          = result.our_gem_version
        %td
          = result.patched_versions
