- content_for :full_width_navbar, true
- content_for :content_container_class, "survey-report-content"
- content_for :css_scope, "surveys-controller survey-report"

= react_component("SurveyListSidebar", surveyListData: @survey_edit_presenter.survey_list_sidebar_data)

.survey-wrapper
  .survey-report-container
    - if current_user.full?
      = react_component("SurveySubNav", subnavLinks: subnav_links(is_admin: current_user.admin?), selectedTab: 'report')

    .localization-report{ :data => { :'survey-locale-group-id' => @survey_locale_group.id } }
      #summary-charts-anchor

      .results
        .panel.panel-default
          .panel-body
            = react_component("survey_report/SurveyReport", @presenter.report_component_params)

    = react_component("survey_report/ReportFooter", reportCreationPath: @report_job_presenter.report_creation_path, reportJobs: @report_job_presenter.export_jobs)

  = react_component("survey_report/ReportFilterSidebar", availableMarkets: @presenter.available_markets, completionUrlMatchers: @presenter.completion_url_matchers, scheduledReportLinks: @presenter.scheduled_report_links, comparators: @presenter.comparators, surveyId: @base_survey.id)
