- content_for :full_width_navbar, true
- content_for :content_container_class, "survey-report-content"
- content_for :css_scope, "surveys-controller survey-report"

- if current_user.account.qrvey_enabled?
  = react_component("survey_report/QrveySidebar", authenticityToken: form_authenticity_token, links: @qrvey_sidebar_presenter.links, shareOptions: @qrvey_sidebar_presenter.share_options[:options], surveyId: @survey.id, authorization: @qrvey_sidebar_presenter.authorization, usingHardcodedDefaults: !@qrvey_sidebar_presenter.using_hardcoded_defaults?)

.survey-wrapper
  .survey-report-container
    - if current_user.full?
      = react_component("SurveySubNav", subnavLinks: subnav_links(is_admin: current_user.admin?), selectedTab: 'report')

    .reporting{ :data => { :'survey-id' => @survey.id } }
      = render @show_page_event ? 'page_event' : 'report_result'

    = react_component("survey_report/ReportFooter", reportCreationPath: @report_job_presenter.report_creation_path, reportJobs: @report_job_presenter.export_jobs)

  = react_component("survey_report/ReportFilterSidebar", @presenter.filter_sidebar_component_params.merge(authenticityToken: form_authenticity_token))
