%h1 Account Options

.panel.panel-default
  .panel-heading
    %h4.panel-title Don't allow personal data
  .panel-body
    = simple_form_for :setting, url: personal_data_settings_path, method: :patch, html: { role: 'form', class: 'form-horizontal' } do |f|
      = f.input :masking_enabled, as: :boolean, input_html: { checked: @setting.masking_enabled }
      = f.input :phone_number_masked, as: :boolean, input_html: { checked: @setting.phone_number_masked }
      = f.input :email_masked, as: :boolean, input_html: { checked: @setting.email_masked }
      .form-action
        = f.submit 'Update', class: 'btn btn-default'
