%div{ style: "background-color: #6185c1; text-align: center; padding-top: 20px; padding-bottom: 10px;" }
  = image_tag 'email/logo_white_vertical.png', width: "144", height: "140", alt: 'PULSE INSIGHTS LOGO'

  %h1{ style: "color: #fff; text-align: center;"  } #{ @report.name }

  %p{ style: "color: #d2d2d2; text-align: center;" }
    Date Run: #{ Time.current.strftime('%x') }
    %br
    Frequency: #{ @report.frequency.to_s.titleize }
    %br
    Date Range: #{ @human_date_range }
