%p
  #{reportee_name}:
  %br
  - if result_count > 0
    %span{ style: "color: #5b5b5b" }
      #{ result_count } #{"result".pluralize(result_count)}
    %br
    = link_to 'Excel', xlsx_url, clicktracking: 'off'
    - if csv_url
      &nbsp;|
      = link_to 'Individual Rows CSV', csv_url, clicktracking: 'off'
  - else
    %span{ style: "color: #5b5b5b" }
      No new data
