- user = object

%td{title: user.company_name.presence || user.name}
  = infos_for_user(user)

  - unless user.id == current_user.id
    .actions{ style: 'display: none;' }
      - if user.account
        = link_to 'Edit', edit_admin_account_path(user.account)
        |

      = link_to 'Login As', login_as_admin_user_path(user)
      |

      - if user.active?
        = link_to 'Deactivate', deactivate_admin_user_path(user), method: :patch, data: { confirm: 'Are you sure?' }
      - else
        = link_to 'Activate', activate_admin_user_path(user), method: :patch, data: { confirm: 'Are you sure?' }
      |

      = link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

%td{:'data-sort-value' => user.surveys.size}
  = number_with_delimiter(user.surveys.size)
  %span.info (#{number_with_delimiter(user.surveys.lives.size)} Live)
%td{:'data-sort-value' => user.calls_count}= number_with_delimiter(user.calls_count)
%td{:'data-column' => 'impressions', :'data-sort-value' => '0'}= '0'
%td{:'data-column' => 'submissions', :'data-sort-value' => '0'}= '0'
%td{:'data-sort-value' => user.last_sign_in_at.to_i}= user.last_sign_in_at.try(:strftime, '%m/%d/%Y')
%td{:'data-sort-value' => user.join_date.to_i}= user.join_date.try(:strftime, '%m/%d/%Y')
%td= user.sign_in_count
