%h1 Qrvey User

%p
  User ID: #{@qrvey_user.qrvey_user_id}
%p
  Email address (for signin): #{@qrvey_user.email_address}
%p
  Password: #{@qrvey_user.password}

%h2 Qrvey Applications

- @qrvey_user.qrvey_applications.each do |qrvey_application|
  %p Application ID: #{qrvey_application.qrvey_application_id}
  %p Shared?: #{qrvey_application.shared}

  %h3 Qrvey Datasets

  - if qrvey_application.qrvey_datasets.present?
    - qrvey_application.qrvey_datasets.each do |qrvey_dataset|
      %p Dataset ID: #{qrvey_dataset.qrvey_dataset_id}
      %p Survey ID column ID: #{qrvey_dataset.qrvey_survey_id_column_id}
  - else
    %p None. Have you run a content deployment?

  %h3 Qrvey Dashboards
  %ul
  - @dashboards.each do |dashboard|
    %li
      %p Name: #{dashboard.dashboard_name}
      %p ID: #{dashboard.dashboard_id}
      %p Published? #{dashboard.raw["published"]}
      %p Custom Attributes: #{dashboard.custom_attributes.to_h}

      - delete_dashboard_url = delete_dashboard_admin_account_qrvey_user_path(@account, qrvey_application_id: qrvey_application.id, qrvey_dashboard_id: dashboard.raw["pageid"])
      = link_to "Delete", delete_dashboard_url, method: :delete, class: "btn btn-danger", data: { confirm: "This will delete the dashboard on Qrvey. There's no undo. Continue?" }
    %hr
