%a(href='#content' class='sr-only') Skip to main content

.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '.navbar-collapse', toggle: 'collapse', type: 'button' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('pulse-insights-logo-white-100x35.svg', class: 'img-responsive logo'), root_path, class: 'navbar-brand'

      - if @render_breadcrumbs
        :ruby
          breadcrumb_survey = @survey || @base_survey

          survey_status_options = Survey.statuses.keys.map do |status_name|
            { label: status_name.titleize, value: status_name }
          end

          breadcrumb_params = {
            allowSurveyNameChange: current_user.admin?,
            allowSurveyStatusChange: current_user.full?,
            surveyId: breadcrumb_survey.id,
            surveyName: breadcrumb_survey.name,
            surveyStatus: breadcrumb_survey.status,
            surveyLocaleGroupName: breadcrumb_survey.survey_locale_group&.name,
            surveyStatusOptions: survey_status_options
          }

        = react_component("Breadcrumbs", **breadcrumb_params)

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user.full?
          %li
            %a{ class: 'top-level-container add', href: new_survey_path }
              = image_tag('icons/add.png', class: 'navbar-image')
              %span New
        - if current_user.account.registered_with_qrvey? && current_user.account.qrvey_enabled?
          %li
            = link_to client_reports_qrvey_path, class: "top-level-container report_explorer_link #{ "highlighted" if on_qrvey_account_report_page? }" do
              = image_tag("icons/report.svg", class: "navbar-image")
              %span Report Explorer

        %li.dropdown
          .top-level-container{ data: { toggle: 'dropdown' }}
            = image_tag('icons/settings.svg', class: 'navbar-image')
            = link_to 'Settings', '#', id: 'setup_dpd'

          %ul.dropdown-menu{'aria-labelledby' => 'setup_dpd', role: 'menu', 'data-no-turbolink' => true}
            %li{role: 'presentation'}=link_to 'Get Code Snippet', get_code_snippet_my_account_path, role: 'menuitem', tabindex: '-1'
            - if current_user.full?
              %li{role: 'presentation'}=link_to 'Global Targeting', global_targeting_my_account_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Data & Integrations', data_integrations_my_account_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Data Restrictions', edit_personal_data_settings_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Themes', themes_path, role: 'menuitem', tabindex: '-1'
            %li{role: 'presentation'}=link_to 'Automations', automations_path, role: 'menuitem', tabindex: '-1'
            %li{role: 'presentation'}=link_to 'Events', page_events_path, role: 'menuitem', tabindex: '-1'
            - if current_user.admin?
              %li{role: 'presentation'}=link_to 'Tags', survey_tags_path, role: 'menuitem', tabindex: '-1'
            - if current_user.full?
              %li{role: 'presentation'}=link_to 'Activity Log', audit_my_account_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'User Management', user_management_my_account_path, role: 'menuitem', tabindex: '-1'
            %li{role: 'presentation'}
              = mail_to 'support@pulseinsights.com', 'Support', subject: 'Pulse Insights Support Request', body: "URL of issue (if applicable):\r\nURL of survey (if applicable):\r\nDescription:\r\n", role: 'menuitem', tabindex: '-1'

        %li.dropdown.name
          .top-level-container{ data: { toggle: 'dropdown' }}
            = image_tag('icons/user.svg', class: 'navbar-image')
            = link_to current_user.name, edit_my_account_path, id: 'user_nav'
          %ul.dropdown-menu{'aria-labelledby' => 'user_nav', role: 'menu', 'data-no-turbolink' => true}
            %li{role: 'presentation'}=link_to 'Name & Password', edit_my_account_path, role: 'menuitem', tabindex: '-1'
            %li{role: 'presentation'}=link_to 'Scheduled Reports', scheduled_reports_path, role: 'menuitem', tabindex: '-1'
            - if current_user.account.id == 341 # IKEA
              %li{role: 'presentation'}=link_to 'Account Dashboard (Beta)', account_dashboard_path, role: 'menuitem', tabindex: '-1'

            - if current_user.accounts.many?
              %hr.navbar-divider
              %h4.navbar-section-title{role: 'presentation'}Accounts
              %ul.navbar-account-list
                %li.navbar-current-account{role: 'presentation'}=current_user.account.autocomplete_name
                - current_user.accounts.where.not(id: current_user.account_id).order(:name, :identifier).each do |account|
                  %li{role: 'presentation'}=link_to account.autocomplete_name, switch_accounts_user_path(current_user, account_id: account.id), method: :post, role: 'menuitem', tabindex: '-1'
              %hr

            - if current_user.admin?
              %li{role: 'presentation'}=link_to 'Accounts', admin_accounts_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Answer Destroyer', admin_answers_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Platform Health', platform_health_qrvey_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Prompt Templates', admin_prompt_templates_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Serving', settings_admin_accounts_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Sample Submission Generator', sample_generator_admin_submissions_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to "Survey Troubleshooter", troubleshoot_admin_surveys_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to "Survey Metadata", metadata_admin_surveys_path, role: 'menuitem', tabindex: '-1'
              %li{role: 'presentation'}=link_to 'Global Qrvey Configuration', admin_qrvey_dashboard_mappings_path, role: 'menuitem', tabindex: '-1'

            %li{role: 'presentation'}=link_to 'Logout', logout_path, method: :delete, role: 'menuitem', tabindex: '-1'
