%p Hello, Please see below for the worker activity #{@activity_date}:

%table
  %tr
    %th Worker Name
    %th File Name
    %th Timestamp(UTC)
    %th Timestamp(America/New_York)
    %th URL
  - @worker_output_copies.each do |worker_output_copy|
    %tr
      %td #{worker_output_copy.worker_name}
      %td #{worker_output_copy.file_name}
      %td #{worker_output_copy.updated_at.strftime("%Y-%m-%d %H:%M:%S")}
      %td #{worker_output_copy.updated_at.in_time_zone('America/New_York').strftime("%Y-%m-%d %H:%M:%S")}
      %td
        / "clicktracking" needs to be off so nothing gets attached to signed urls https://docs.sendgrid.com/ui/analytics-and-reporting/click-tracking-html-best-practices
        %a{ clicktracking: 'off', href: worker_output_copy.signed_url } #{worker_output_copy.signed_url}

:css
  table {
    border-collapse: collapse;
  }
  tr {
    line-height: 20px;
    font-size: 16px;
  }
  th, td {
    border: 1px black solid;
    text-align: center;
  }
