:ruby
  modal_id ||= nil
  survey ||= nil

.modal.fade{id: modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog.custom-data-triggers{:role => "document"}
    .modal-content
      = form_for survey, url: localization_form_update_survey_path(survey) do |survey_form|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.modal-title Custom Data Attributes
        .modal-body
          .basic-fields-container
            .basic-fields-row
              %label.custom-data-row All of:
              .trigger-input-wrapper
                = survey_form.fields_for :device_triggers, survey.device_triggers.where(device_data_mandatory: true) do |device_triggers_form|
                  .trigger-input
                    = device_triggers_form.text_field :device_data_key, class: 'first-trigger-input'
                    = device_triggers_form.select :device_data_matcher, options_for_select(device_data_matcher_options, device_triggers_form.object.device_data_matcher), class: 'second-trigger-input device-matcher'
                    = device_triggers_form.text_field :device_data_value, class: 'last-trigger-input device-value'
                    = device_triggers_form.check_box :_destroy, class: 'hide'
                    = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: device_triggers_form.object.persisted? }

                = survey_form.fields_for :device_triggers, survey.device_triggers.new do |device_triggers_form|
                  .hidden-layout.trigger-input.hide
                    = device_triggers_form.text_field :device_data_key, class: 'first-trigger-input', disabled: true
                    = device_triggers_form.select :device_data_matcher, options_for_select(device_data_matcher_options), class: 'second-trigger-input device-matcher', disabled: true
                    = device_triggers_form.text_field :device_data_value, class: 'last-trigger-input device-value', disabled: true
                    = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: false }
                = link_to 'Add Another', 'javascript: void(0);', class: 'btn btn-xs btn-default add_another_button'

            .basic-fields-row
              %label.custom-data-row Any one of:
              .trigger-input-wrapper
                = survey_form.fields_for :device_triggers, survey.device_triggers.where(device_data_mandatory: false) do |device_triggers_form|
                  .trigger-input
                    = device_triggers_form.hidden_field :device_data_mandatory, value: false
                    = device_triggers_form.text_field :device_data_key, class: 'first-trigger-input'
                    = device_triggers_form.select :device_data_matcher, options_for_select(device_data_matcher_options, device_triggers_form.object.device_data_matcher), class: 'second-trigger-input device-matcher'
                    = device_triggers_form.text_field :device_data_value, class: 'last-trigger-input device-value'
                    = device_triggers_form.check_box :_destroy, class: 'hide'
                    = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: device_triggers_form.object.persisted? }

                = survey_form.simple_fields_for :device_triggers, survey.device_triggers.new do |device_triggers_form|
                  .hidden-layout.trigger-input.hide
                    = device_triggers_form.hidden_field :device_data_mandatory, value: false
                    = device_triggers_form.text_field :device_data_key, class: 'first-trigger-input', disabled: true
                    = device_triggers_form.select :device_data_matcher, options_for_select(device_data_matcher_options, device_triggers_form.object.device_data_matcher), class: 'second-trigger-input device-matcher', disabled: true
                    = device_triggers_form.text_field :device_data_value, class: 'last-trigger-input device-value', disabled: true
                    = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: false }
                = link_to 'Add Another', 'javascript: void(0);', class: 'btn btn-xs btn-default add_another_button'

            .basic-fields-row.left-aligned
              %label Client Key required:
              = survey_form.fields_for :client_key_trigger, survey.client_key_trigger || survey.build_client_key_trigger do |client_key_trigger_form|
                = client_key_trigger_form.check_box :client_key_presence

        .modal-footer
          = survey_form.submit 'Save Custom Data Triggers', class: 'btn btn-primary'
