.navbar.navbar-top.navbar-custom
  .container.container-custom
    = "#{@survey.name} :: #{@question.content} :: Editing"
    = link_to '×', localization_editor_path(@survey.survey_locale_group_id), class: 'close', 'aria-hidden' => true
    %button{form: "edit_question_#{@question.id}", type: "submit", class: 'btn btn-default save', 'aria-hidden' => true, onclick: "!this.form&&$('#'+$(this).attr('form')).submit()" } Save
= simple_form_for @question, url: question_path(@question, legacy_mode: true) do |f|
  = f.hidden_field :id
  = f.hidden_field :survey_id
  = f.hidden_field :background_color
  = f.hidden_field :opacity
  = f.input :custom_content, input_html: { class: 'summernote', data: { linkable_questions: @linkable_questions } }, label: false
