:ruby
  survey ||= nil
  questions_fields ||= nil

.options
  %a{:href => '#', :class => 'options-link'}
    .arrow &#9658;
    Options
  .options-content
    - unless survey.display_all_questions
      .form-group.numeric
        .controls
          = questions_fields.check_box :fullscreen, id: 'question_fullscreen'
          %p.hint Full screen take-over
    .fullscreen-group.hide
      .form-group.numeric.background_color
        %p.hint Background color
        .controls
          = questions_fields.input_field :background_color, data: { toggle: 'tooltip', placement: 'bottom' }, title: I18n.t('simple_form.titles.survey.background_color'), id: 'question_background_color'
          .color-box{ id: :background_color_box, data: {color: questions_fields.object.background_color, target: '#question_background_color'} }
      .form-group.numeric.opacity
        %p.hint Opacity
        .controls
          = questions_fields.text_field :opacity, numeric: true, id: 'question_opacity'
          %p.hint %
  .options-content
    .form-group.numeric
      .controls
        = questions_fields.check_box :autoclose_enabled, id: 'autoclose_enabled'
        %p.hint Auto-close after
        = questions_fields.text_field :autoclose_delay, id: 'autoclose_delay', numeric: true, disabled: !questions_fields.object.autoclose_enabled
        %p.hint seconds
  .options-content
    .form-group.numeric
      .controls
        = questions_fields.check_box :autoredirect_enabled, id: 'autoredirect_enabled'
        %p.hint Auto-redirect to
        = questions_fields.text_field :autoredirect_url, id: 'autoredirect_url', disabled: !questions_fields.object.autoredirect_enabled
        %p.hint after
        = questions_fields.text_field :autoredirect_delay, id: 'autoredirect_delay', numeric: true, disabled: !questions_fields.object.autoredirect_enabled
        %p.hint seconds
