:ruby
  modal_id ||= nil
  question_locale_group ||= nil

  base_survey = question_locale_group.survey_locale_group.base_survey

.modal.fade{id: modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for [:control, PossibleAnswerLocaleGroup.new], url: possible_answer_locale_groups_path do |possible_answer_locale_group_form|
        = possible_answer_locale_group_form.hidden_field :owner_record_id, value: question_locale_group.id
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.modal-title Create Possible Answer
        .modal-body
          .basic-fields-container
            .basic-fields-row
              %label Base Value:
              = text_field_tag :base_possible_answer_content, nil, class: 'base-content-input', required: true

            .basic-fields-row
              %label Short Name:
              = possible_answer_locale_group_form.text_field :name, class: 'locale-group-name', required: true

            .basic-fields-row
              %label Next Question:
              = select_tag :next_question_locale_group_id, options_for_select(base_survey.questions.map(&:question_locale_group).map {|x| [x.name, x.id]}), include_blank: true

        .modal-footer
          = possible_answer_locale_group_form.submit 'Add Possible Answer', class: 'btn btn-primary'
