:ruby
  survey ||= nil
  follow_up_questions_fields ||= nil

.options
  %a{:href => '#', :class => 'options-link'}
    .arrow &#9658;
    Options
  .options-content
    .options-group.answers-options
      .hidden-answer-button-type
        = follow_up_questions_fields.input :button_type, as: :hidden, id: 'button-type', disabled: true, class: 'button-type'
      .answer-button-type
        %label Button Style
        ._pi_radio_button_outer
          ._pi_radio_button_inner
        %label Radio Button
        ._pi_standard_button_outer= 'Standard Button'
        %label._pi_menu Menu

      %label.desktop-answer-options-label.hidden Desktop
      .desktop-answer-width-type
        = follow_up_questions_fields.input_field :desktop_width_type, as: :select, collection: Question::WIDTH_TYPE_OPTIONS, id: 'desktop-width-type-select',
        prompt: 'Width Type', disabled: true
      .answer-per-row-desktop
        = follow_up_questions_fields.input_field :answers_per_row_desktop, numeric: true, id: 'input_answers_per_row_desktop', disabled: true
        %label Per Rows
      .answer-alignment-type-desktop
        = follow_up_questions_fields.input_field :answers_alignment_desktop, as: :select, collection: Question.answers_alignment_for_select,
        id: 'answers-alignment-desktop-select', include_blank: false, disabled: true

        - Question.answers_alignment_desktops.keys.each do |alignment|
          .hidden.alignment-type{ class: "fixed-#{alignment.dasherize}-alignment-type" }
            = image_tag "questions/fixed-#{alignment.dasherize}.png"
            .alignment-hint= alignment_description(alignment)
          .hidden.alignment-type{ class: "variable-#{alignment.dasherize}-alignment-type" }
            = image_tag "questions/variable-#{alignment.dasherize}.png"
            .alignment-hint= alignment_description(alignment)

      %label.mobile-answer-options-label.hidden Mobile
      .mobile-answer-width-type
        = follow_up_questions_fields.input_field :mobile_width_type, as: :select, collection: Question::WIDTH_TYPE_OPTIONS, id: 'mobile-width-type-select',
        prompt: 'Width Type', disabled: true
      .answer-per-row-mobile
        = follow_up_questions_fields.input_field :answers_per_row_mobile, numeric: true, id: 'input_answers_per_row_mobile', disabled: true
        %label Per Rows
      .answer-alignment-type-mobile
        = follow_up_questions_fields.input_field :answers_alignment_mobile, as: :select, collection: Question.answers_alignment_for_select,
        id: 'answers-alignment-mobile-select', include_blank: false, disabled: true
        - Question.answers_alignment_desktops.keys.each do |alignment|
          .hidden.alignment-type{ class: "fixed-#{alignment.dasherize}-alignment-type" }
            = image_tag "questions/fixed-#{alignment.dasherize}.png"
            .alignment-hint= alignment_description(alignment)
          .hidden.alignment-type{ class: "variable-#{alignment.dasherize}-alignment-type" }
            = image_tag "questions/variable-#{alignment.dasherize}.png"
            .alignment-hint= alignment_description(alignment)

      .single-choice-default-label
        %label Default Label
        = follow_up_questions_fields.text_field :single_choice_default_label, placeholder: 'Select an option', class: 'single-choice-default-label', disabled: true

      .additional-text.hidden
        .subtitle Additional Text
        .form-group
          %label Before Question
          .controls
            = follow_up_questions_fields.input_field :before_question_text, disabled: true
        .form-group
          %label After Question
          .controls
            = follow_up_questions_fields.input_field :after_question_text, disabled: true

        .form-group
          %label Before Answers
          .controls
            = follow_up_questions_fields.input_field :before_answers_count, as: :integer, numeric: true, id: 'before_answers_count_input', min: 0, max: 11, value: 0, disabled: true
            = follow_up_questions_fields.input_field :before_answers_items, multiple: true, id: 'before_answers_item', class: 'hidden', disabled: true

        .icon-answers.hidden
          = image_tag 'questions/icon-answers.png'

        .form-group
          %label After Answers
          .controls
            = follow_up_questions_fields.input_field :after_answers_count, as: :integer, numeric: true,  id: 'after_answers_count_input', min: 0, max: 11, value: 0, disabled: true
            = follow_up_questions_fields.input_field :after_answers_items, multiple: true, id: 'after_answers_item', class: 'hidden', disabled: true

      - if survey.display_all_questions
        .optional-question
          = follow_up_questions_fields.input_field :optional, as: :boolean, inline_label: 'Optional', disabled: true, id: 'optional-checkbox'
