:ruby
  modal_id ||= nil
  survey ||= nil

.modal.fade{id: modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog.url-triggers{:role => "document"}
    .modal-content
      = form_for survey, url: localization_form_update_survey_path(survey) do |survey_form|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.modal-title URLs
        .modal-body
          .basic-fields-container
            .basic-fields-row
              %label Display Survey If:
              .trigger-input-wrapper
                .trigger-fields
                  = survey_form.fields_for :triggers, survey.triggers do |triggers_form|
                    .trigger-input
                      - selected = triggers_form.object.type_cd
                      = triggers_form.select :type_cd, options_for_select(Trigger::TYPES, selected), class: 'first-input'
                      = triggers_form.text_field :trigger_content, class: 'last-input', data: { toggle: 'tooltip', placement: 'bottom' }, title: I18n.t('simple_form.titles.survey.triggers.trigger_content'), placeholder: 'All URLs / View names', value: triggers_form.object.trigger_content
                      = triggers_form.check_box :_destroy, class: 'hide'
                      = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: triggers_form.object.persisted? }

                  = survey_form.fields_for :triggers, survey.triggers.new do |triggers_form|
                    .hidden-layout.trigger-input.hide
                      = triggers_form.select :type_cd, options_for_select(Trigger::TYPES), class: 'first-input', disabled: true
                      = triggers_form.text_field :trigger_content, class: 'last-input', disabled: true, data: { toggle: 'tooltip', placement: 'bottom' }, title: I18n.t('simple_form.titles.survey.triggers.trigger_content')
                      = link_to '×', 'javascript: void(0);', class: 'close trigger-close', data: { persisted: false }
                  = link_to 'Add Another', 'javascript: void(0);', class: 'btn btn-xs btn-default add_another_button'

        .modal-footer
          = survey_form.submit 'Save URLs', class: 'btn btn-primary'
