- title 'Sign In'

= form_for(@user, as: :user, url: session_path(:user)) do |form|
  .form-title Sign In

  = form.text_field :email, placeholder: 'Email Address', required: true, autofocus: true
  = form.password_field :password, placeholder: 'Password', required: true, autocomplete: "off",
                error: form.object.errors[:password].first.try(:html_safe)

  .form-action
    = form.submit 'Sign In'

= link_to "Single Sign-On", saml_signin_path
