= form_for [:admin, prompt_template] do |f|
  - if prompt_template.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(prompt_template.errors.count, "error")
        prohibited this prompt template from being saved:
      %ul
        - prompt_template.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, class: "control-label"
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :content, class: "control-label"
    = f.text_area :content, rows: 10, class: "form-control", placeholder: "Enter the prompt template content..."

  .form-group
    .checkbox
      %label
        = f.check_box :is_default
        Set as default template

  .form-group
    = f.submit class: "btn btn-primary"
    = link_to "Cancel", admin_prompt_templates_path, class: "btn btn-default"

