- report ||= nil

%p
  Account: #{ report.account.name } (#{ report.account_id })
  %br
  Report: #{ report.name } (#{ report.id })
  %br
  Scheduled for: #{ report.send_next_report_at }
  %br
  Did not run because:
  - report.skip_reasons.each do |_code, explanation|
    = explanation
