- content_for :js, javascript_include_tag('list_page_common')

.theme-header
  %h1.theme-title Themes
  .right-btns
    = link_to 'New Theme', new_theme_path, class: 'btn btn-default'

.panel.panel-default.theme-panel
  .panel-body
    %table.table.table-hover.table-responsive.list-table
      %thead
        %tr
          %th(data-sort='string' width='200')
            Name
            .arrow.arrow-up.hide
          %th(data-sort='string' width='300')
            Last edited on
            .arrow.arrow-up.hide
          %th(data-sort='string' width='200')
            Last edited by
            .arrow.arrow-up.hide
          %th
            In use by
      %tbody
        - @themes.each do |theme|
          %tr
            %td
              = theme.name
              .actions{style: 'display: none;'}
                = link_to 'View', theme_path(theme)
                |
                = link_to 'Edit', edit_theme_path(theme)
                |
                = link_to 'Delete', theme_path(theme), method: :delete, data: { confirm: 'Are you sure?' }
            %td= I18n.l theme.updated_at, format: :long
            %td= theme.audits.present? ? print_username(theme.audits.last) : current_user.account.primary_user.name
            %td= theme_used_by_links(theme)

- if current_user.admin? && @audits.present?
  = render "application/audits", audits: @audits
